.markdown-toc a {
  background-color: transparent;
  text-decoration: none;
  display: block;
  padding-bottom: 1px;
}

.markdown-toc a:link {
  text-decoration: none;
}
.markdown-toc a:active,
.markdown-toc a:hover {
  outline-width: 0;
}
.markdown-toc a:hover {
  text-decoration: underline;
}
.markdown-toc ul {
  list-style: none;
  padding-left: 1em;
}

.markdown-toc li {
  margin: 20px 0px 0px 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.markdown-toc p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
